catalyst-release.keystore
.keystore.env
dist/
app/
build/
.gradle/
gradle/
gradlew
gradlew.bat
*.apk
*.aab
*.idsig
local.properties
settings.gradle
build.gradle
gradle.properties
store_icon.png
manifest-checksum.txt
*.log
